@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Rock+Salt&display=swap');
:root {
     --primary-color : #000361;
    --secondary-color : #9fc7f4;
    --accent1-color : #224f3a;
    --accent2-color : #F5A65B;
    
    --heading-font : 'Rock Salt', serif;
    --paragraph-font : 'Roboto', serif;

    --nav-background-color : #224f3a;
    --nav-link-color : #fff;
    --nav-hover-link-color : #000361;
    --nav-hover-background-color : #F5A65B;
}

h1,h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

header nav {
    background-color: var(--nav-background-color);
    display: flex;
}

header nav a{
    text-decoration: none;
    color: var(--nav-link-color);
    display: block;
    padding: 20px;
}

header img {
    background-color: var(--accent2-color);
    width: 120px;
    box-shadow : 0 0 30px #224f3a;
}

header nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color)
}
body {
    max-width: 100%;
    /* background-color: var(--secondary-color); */
}

.hero {
    position: relative;
}

.hero article img {
    float: right;
    width: 220px;
}

.hero img {
    display:block;
    width: 100%;
    height: auto;
    padding: 10px;
} 

.hero h1 {
    position: absolute;
    top: -90px;
    left: 340px;
    background-color:rgba(0, 0, 0, 0.4);
    color: #fff;
}

.hero article { 
    position: absolute;
    top: 160px;
    left: 120px;
    width: 80%;
    background-color:rgb(0, 3, 97, 0.6);
} 

.hero article p {
    margin: 20px;
    color: #fff;
}

/* header img {
    float:right;
    /* width: 6rem; 
} */

footer {
    padding:0px;
    background-color: var(--nav-background-color);
    text-align: end;
}
footer p {
    color: #fff;
    text-align: center;
    grid-column: 1/2;
    grid-row:1/2;
    justify-self: right;
}
footer nav img {
    width: 1.8rem;
}
footer div {
    grid-column: 2/3;
    grid-row:1/2;
    padding: 10px;
}

footer { 
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}
header {
    display: grid;
    margin: 1rem auto;
    grid-template-columns: 120px 1fr;
    align-items: center;
    border-bottom: 1px solid #224f3a;
    max-width: 1000px;
}

.history {
    display : grid;
    grid-template-columns : 1fr 1fr 1fr;
    grid-template-rows : 1fr 1fr 1fr ;
    background-color: var(--secondary-color);
    padding: 30px;
    border : 1px solid rgb(0,0,0,0.6);
}

.history h2{
    grid-column-start : 2;
    grid-column-end : 3 ;
    justify-self: center;
}

.history img{
    width:80%;
    height: auto;
    grid-column-start :2;
    grid-column-end : 3; 
    grid-row-start: 2;
    grid-row-end : 4;
    justify-self: center;
}

.paragraph1 {
    grid-column-start :1;
    grid-column-end: 2;
    grid-row-start : 2;
    grid-row-end: 4; 
}

.paragraph2 {
    grid-column-start :3;
    grid-column-end: 4;
    grid-row-start : 2;
    grid-row-end: 4;
}

.adventures {
    display: grid;
    grid-template :  0.5fr 1fr  /repeat(5, 200px);
    background-color: #9fc7f4;
    margin : 20px;
    border: 1px solid black;
}

.adventures img {
    width : 100px;
    height : auto;
    border : 2px solid black;
    justify-self: center;
}

.adventures h2{
    grid-row : 1/2;
    grid-column : 1/6;
    justify-self: center;
}



