@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Rock+Salt&display=swap');
:root {
     --primary-color : #000361;
    --secondary-color : #9fc7f4;
    --accent1-color : #224f3a;
    --accent2-color : #F5A65B;
    
    --heading-font : 'Rock Salt', serif;
    --paragraph-font : 'Roboto', serif;

    --nav-background-color : #224f3a;
    --nav-link-color : #fff;
    --nav-hover-link-color : #000361;
    --nav-hover-background-color : #F5A65B;
}

h1,h2 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
    text-align: center;
    margin: 0;
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
    text-align: center;
}

header nav {
    background-color: var(--nav-background-color);
    display: flex;
}

header nav a{
    text-decoration: none;
    color: var(--nav-link-color);
    display: block;
    padding: 20px;
}

header img {
    background-color: var(--accent2-color);
    width: 120px;
    box-shadow : 0 0 30px #224f3a;
}

header nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color)
}
body {
    max-width: 100%;
    /* background-color: var(--secondary-color); */
}

.hero {
    position: relative;
}

.hero article img {
    float: right;
    width: 220px;
}

.hero img {
    display:block;
    width: 100%;
    height: auto;
    padding: 10px;
} 

.hero h1 {
    position: absolute;
    top: -90px;
    left: 340px;
    background-color:rgba(0, 0, 0, 0.4);
    color: #fff;
}

.hero article { 
    position: absolute;
    top: 160px;
    left: 120px;
    width: 80%;
    background-color:rgb(0, 3, 97, 0.6);
} 

.hero article p {
    margin: 20px;
    color: #fff;
}

/* header img {
    float:right;
    /* width: 6rem; 
} */

footer {
    padding:0px;
    background-color: var(--nav-background-color);
    text-align: end;
}
footer p {
    color: #fff;
    text-align: center;
    grid-column: 1/2;
    grid-row:1/2;
    justify-self: right;
}
footer nav img {
    width: 1.8rem;
}
footer div {
    grid-column: 2/3;
    grid-row:1/2;
    padding: 10px;
}

footer { 
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    margin: 2rem 0 0 0;
}
header {
    display: grid;
    margin: 1rem auto;
    grid-template-columns: 120px 1fr;
    align-items: center;
    border-bottom: 1px solid #224f3a;
    max-width: 1000px;
}

.history {
    display : grid;
    grid-template-columns : 1fr 1fr 1fr;
    grid-template-rows : 1fr 1fr 1fr ;
    background-color: var(--secondary-color);
    padding: 30px;
    border : 1px solid rgb(0,0,0,0.6);
}

.history h2{
    grid-column-start : 2;
    grid-column-end : 3 ;
    justify-self: center;
}

.history img{
    width:80%;
    height: auto;
    grid-column-start :2;
    grid-column-end : 3; 
    grid-row-start: 2;
    grid-row-end : 4;
    justify-self: center;
}

.paragraph1 {
    grid-column-start :1;
    grid-column-end: 2;
    grid-row-start : 2;
    grid-row-end: 4; 
}

.paragraph2 {
    grid-column-start :3;
    grid-column-end: 4;
    grid-row-start : 2;
    grid-row-end: 4;
}

.adventures {
    display: grid;
    grid-template :  0.5fr 1fr  /repeat(5, 200px);
    background-color: #9fc7f4;
    margin : 20px;
    border: 1px solid black;
}

.adventures img {
    width : 100px;
    height : auto;
    border : 2px solid black;
    justify-self: center;
}

.adventures h2{
    grid-row : 1/2;
    grid-column : 1/6;
    justify-self: center;
}

main{
    display: grid;
}

.employee-profiles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.employee-profiles img {
    width: 20rem;
    height: auto;
}

.employee-profiles h2{
    grid-column:1/4;
}

form p{
    text-align: left;
}

form {
    background-color: var(--secondary-color);
    padding: 30px;
    margin: 0 auto;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 1rem;
    width: 450px;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.label1{
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: right;
    padding-right: 1.5rem;
}

.input1 {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 10px;
}

.label2{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: right;
    padding-right: 1.5rem;
}

.input2 {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 10px;
}

.p-form {
    grid-column: 1/3;
    grid-row: 4/5;
}

.input3 {
    grid-column: 1/2;
    grid-row: 5/6;
}

.label3 {
    grid-column: 2/3;
    grid-row:5/6;
}

.input4{
    grid-column: 1/2;
    grid-row: 7/6;
}
.label4 {
    grid-column: 2/3;
    grid-row: 6/7;
}
.input5{
    grid-column: 1/2;
    grid-row:7/8;
}

.label5 {
    grid-column: 2/3;
    grid-row: 7/8;
}

.label6 {
    grid-column: 1/2;
    grid-row: 9/10;
    text-align: right;
}

.textarea {
    grid-column: 2/3;
    grid-row: 9/10;
}

.label7{
    grid-column:1/3;
    grid-row: 10/11;
}

.input7{
    grid-column: 2/3;
    grid-row: 10/11;
}

button{
    grid-column: 1/3;
    background-color: var(--nav-background-color);
    color: #fff;
    padding:10px;
    margin: 30px auto 0 auto;
    border: none;
    border-radius: 10px;
}

button:hover{
    background-color: var(--accent2-color);
    color : var(--primary-color);
    border-radius: 10px;
}

section{
    text-align: center;
}

.company-info{
    background-color: var(--secondary-color);
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

iframe{
    border: 1px solid black;
    box-shadow: 0 0 4px ;
    margin: 10px auto;
}